[submodule "deps/loguru"]
	path = deps/loguru
	url = https://github.com/emilk/loguru.git
[submodule "deps/h2o"]
	path = deps/h2o
	url = https://github.com/h2o/h2o.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
	branch = master
