<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Codepage="65001" Name="TWAIN Server" Language="1033" Version="1.0.0.0" Manufacturer="Diagnósticos da América S.A." UpgradeCode="2b6fca56-39b2-4c74-a87c-a69a3397538e">
		<Package InstallerVersion="301" Compressed="yes" InstallScope="perMachine" />

        <Condition Message="This application requires Windows 7 or later"><![CDATA[VersionNT >= 601]]></Condition>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="TWAIN Server" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
        <Feature Id="VCRedist86" Title="Visual C++ 2017 x86 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
            <MergeRef Id="VCRedistx86"/>
        </Feature>

        <Property Id="ASSISTANCE_START_VIA_REGISTRY">1</Property>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
            <Merge Id="VCRedistx86" SourceFile="src\Microsoft_VC141_CRT_x86.msm" DiskId="1" Language="0"/>
			<Directory Id="ProgramFilesFolder">
                <Directory Id="CompanyFolder" Name="DASA">
                    <Directory Id="INSTALLFOLDER" Name="TWAIN Server" />
                </Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Guid="0ee853ed-1c64-4904-9074-73948ffecf73">
                <File Id="twain_server_x86" Source="src\twain-server.exe" Checksum="yes" KeyPath="yes" Vital="yes" />
            </Component>
            <Component Id="AssistanceAutoStart" Guid="e4f9fc32-f437-493d-9812-b3608be5f385">
                <RegistryValue Root="HKMU" Action="write"
                               Key="Software\Microsoft\Windows\CurrentVersion\Run"
                               Name="TWAIN Server"
                               Value="[INSTALLFOLDER]twain-server.exe"
                               Type="string" />
                <Condition>ASSISTANCE_START_VIA_REGISTRY</Condition>
            </Component>
        </ComponentGroup>
	</Fragment>
</Wix>
